<form class="form-inline" ng-submit="$ctrl.submitSearch()">
  <br-input br-model="$ctrl.searchText"
    br-options="{
      icon: 'search',
      placeholder: $ctrl.searchOptions.searchbox.placeholder,
      inline: true,
      columns: {input: 'col-xs-10'},
      disabled: {{$ctrl.loading}}
    }">
  </br-input>
  <span class="col-xs-1" style="padding: 0 5px 0 0">
    <button type="submit" class="btn btn-primary" style="margin-left: 5px"
      ng-disabled="$ctrl.loading">Search</button>
  </span>
  <span class="col-xs-1" style="padding: 0 5px 0 0">
    <button class="btn btn-default" ng-click="$ctrl.searchText=''"
      ng-disabled="$ctrl.loading">Clear</button>
  </span>
  <div ng-repeat="additionalInput in $ctrl.searchOptions.additional track by $index">
    <div class="row">
      <div class="col-xs-2">
        <label>{{additionalInput.label}}</label>
      </div>
      <div class="col-xs-10">
        <input type="text"
          ng-model="$ctrl.searchFields[additionalInput.prefix]"
          placeholder="{{additionalInput.placeholder}}"
          ng-change="$ctrl.searchFieldChanged(additionalInput.prefix)"></input>
      </div>
    </div>
  </div>
</form>
