<div>
  <form>
    <br-input br-model="$ctrl.searchText"
      br-input-ng-disabled="$ctrl.loading"
      br-options="{
        icon: 'search',
        placeholder: $ctrl.searchOptions.searchbox.placeholder,
        inline: true,
        theme: 'material',
        type: 'search'
      }">
    </br-input>
    <span>
      <md-button class="md-primary md-raised"
        ng-click="$ctrl.submitSearch()"
        ng-disabled="$ctrl.loading">Search</md-button>
    </span>
    <span>
      <md-button class="md-primary md-raised"
        ng-click="$ctrl.searchText=''"
        ng-disabled="$ctrl.loading">Clear</md-button>
    </span>
    <span ng-if="$ctrl.display.helpButton">
      <md-button class="md-primary md-raised"
        ng-click="$ctrl.display.helpText=!$ctrl.display.helpText"
        ng-disabled="$ctrl.loading">Help</md-button>
    </span>
  </form>
</div>
<div ng-if="$ctrl.display.helpText" ng-transclude="help"></div>
<p></p>
<form>
  <fieldset>
    <div ng-repeat="additionalInput in $ctrl.searchOptions.additional track by $index">
      <br-input br-model="$ctrl.searchFields[additionalInput.prefix]"
        br-input-ng-change="$ctrl.searchFieldChanged(additionalInput.prefix)"
        br-options="{
          label: additionalInput.label,
          placeholder: additionalInput.placeholder,
          help: false
        }"></br-input>
    </div>
  </fieldset>
</form>
